<section style="margin-top: 10px;">
  <span>Hello I'm <strong>Kyle Rogers</strong></span>
  <p>I'm a Microsoft Certified Software Developer (MCSD), mainly focused on MVC and Webforms. I have over 5 years software development experience and many more years of experience in the Information Technology Industry.</p>
  <p>I live in the middle of the country in <strong>Bloomington, IL</strong>.  You can contact me at <strong><a href="mailto:kyle.rogers@gmail.com">kyle.rogers@gmail.com</a></strong> or <strong><a href='/about'>read more about me</a></strong>
</section>
